<!-- the below code allows us to implement layouts in ejs -->
<%- include('header'); -%>
    <!-- to use ejs we need to set a marker that indicates that a variable is supposed to come here -->
    <!-- this marker can be seen on ejs.co-->
    <div class="box" id="heading">
        <h1><%= listTitle %> </h1>
    </div>
   
    <div class="box">
        <% for(var i=0;i< newListItems.length;i++){ %>
       <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %></p>
       </div>
       <%}%>
     <form class="item" action="/" method="post">
        <input type="text" name="item" placeholder="New Item" autocomplete="off">
        <button type="submit" name="button" value=<%= listTitle %>>+</button>
     </form>
    </div>

    <%- include('footer'); -%>
    
